<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static './css/index.css' %}"
    />
    <title>Next Attendance</title>
  </head>
  <body>
    <div class="container">
      <h1>알고리즘 스터디 문제풀이 인증!</h1>
      {% csrf_token %}
      <form method="post" action="/spreadsheet" enctype="multipart/form-data">
          {% csrf_token %}
        내 이름 : <br />
        <input type="text" name="username" /><br />
        email : <br />
        <input type="text" name="email" />
        추가로 할 말 : <br />
        <input type="text" name="tmi" />
          <label for="imageUpload">Choose an image:</label><br />
      <input
        type="file"
        id="imageUpload"
        name="get_file"
        accept="image/*"
      /><br />
        <button class="btn-hover color-9">출석체크</button>
      </form>
    </div>
    <div class="modal"></div>
  </body>
</html>
